[tool.poetry]
name = "quantpiler"
version = "0.1.5"
description = "Quantum compiler and common circuits generator"
license = "Apache-2.0"
authors = ["AveryanAlex <alex@averyan.ru>"]
readme = "README.md"
repository = "https://github.com/averyanalex/quantpiler"
keywords = ["qiskit", "quantum"]
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Topic :: Scientific/Engineering"
]

[tool.poetry.dependencies]
python = "^3.10"
qiskit = "^0.37.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
autopep8 = "^1.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
